/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

body{
    // background-color: blue;
     background-color: #3F51B5;
    font-family: Roboto,sans-serif;
}
.price-font{
    font-size: 13px;
    color: white;
    padding-left: 5px;
}
.top {
    color: #9c9c9c;
    font-size: 12px;
    font-weight: 500;
}
.bottom {
    font-size: 13px;
    margin: 0 0 5px;
}
.imgClass350{
    height:350px;
}
.imgClass300{
    height:300px;
}
.imgClass250{
    height:250px;
}
.imgClass200{
    height:200px;
       }
.imgClass150{
    height:250px;
}
.google{
          width: 30px;
    height: 24px;
    margin-top: 1%;
      margin-left:3%
}
.twitter{
                width: 27px;
    height: 25px;
    margin-top: 1%;
    margin-left:3%
}
.facebook{
         width: 27px;
height: 22px;
    margin-top: 1%;
  margin-left:3%;
}
.toolbar1{
   background: #273690;
    color: rgba(255,255,255,.87);
    font-size: 19px !important;
}
.imgrowxs{
    height: 949px;
}
.textxs{
         margin-top: 15% !important;
    margin-left: 60%;
    font-size: 14px;
}
.rent{
         font-size: 13px!important;
}
.mat-form-field-underline {
  display: none;
    }
.mat-form-field-infix {
   
    border-top: .84375em solid transparent;
    top: -3.5px;
    font-size: 14px;
    padding-left: 1%;
}
.mat-form-field-placeholder{
    padding-left: 15px;
}
.footer{
       background: #273690;
            color: white;
    bottom: 0px;
    position: fixed;
}
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 25px;
    width: 24px;
   margin-top: 0%;
    margin-left: 0%;
    padding: 1%;
}
 .sidenav{
         background: rgba(11, 14, 117, 0.72);
         width: 142px;
     position: absolute !important;
     top:56px !important;
 }
 .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder{
    display : none !important;
}
.mat-focused .hidePlaceHolder{
    display : none !important;
}